<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theme.css">
    <title>Document</title>
</head>
<body id="music">
    <div class="NavBar">
        <div class="links">
            <a href="/" class="NavLink">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="list" class="NavLink">List</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="table"  class="NavLink">Table</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="video"  class="NavLink">Video</a>
            </div>
        </div>
    <div class="audio" >
    <h1 class='welcome'>Welcome to Audio</h1>
    <div class="player">
    <audio controls autoplay>
        <source src="/Track03.ogg">
    </audio>
    </div>
    <p class="content">This sounds like a group of musician playing different instruments. There is a violin and a piano.</p>
</body>
</div>
</html>