<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/theme.css">
</head>
<body>
    <div class="NavBar">
    <div class="links">
        <a href="audio" class="NavLink">Audio</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="list" class="NavLink">List</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="table"  class="NavLink">Table</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="video"  class="NavLink">Video</a>
        </div>
    </div>
    <div class="content">
    <h1>Welcome to my website, I will be demonstrating my knowlegde on HTML5 principles, routing in express and how to read from a data file</h1> 
    <div>
        <h3>Things I have learned in Web322(so far)</h3>
        <p>So far in this course, I have learned how to read data from a json file and record it. I have also learned how open a server that receives
            request from the browser and return with a respond to the browser. In addition, I have also learned how to record a form and store an uploaded
            file.
        </p>
    </div>    
    <div>
        <h3>Introduction to HTML5</h3>
        <p>HTML 5 is a markup language released in 2008, as a successor to HTML 4. It is used for structuring and presenting content on the World
            Wide Web. It currently used by every major browser on the world. HTML 5 is being maintend by Web Hypertext Application Technology Working Group
        </p>
    </div>
    <br>
    <br>
    <div class="credit">
        <p>Created By Jerry Do. ID: 116797218. Email: dkdo@myseneca.ca</p>
    </div>
</div>
</body>
</html>