<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theme.css">
    <title>Document</title>
</head>
<body>
    <div class="NavBar">
        <div class="links">
            <a href="/" class="NavLink">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="audio" class="NavLink">Audio</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="table"  class="NavLink">Table</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="video"  class="NavLink">Video</a>
            </div>
        </div>
    <div class="list" id="fontList">
    <h1>Welcome to list</h1>
    <div>
        <h3>Introduction about me</h3>
        <p>My name is Dang Khoa Do, you can call me Jerry. My ID is 116797218 and currently I am a CPA student. The reason why I study programming 
            is because I want to make games.
        </p>
    </div>
    <div>
        <h3>A list of food</h3>
        <ol class="m">
            <li>Banana</li>
            <ul class="s">
                <li>Nutrition: rich on potassium and vitamin B6</li>
                <li>Calories: 89 per 100 g</li>
            </ul>
            <li >Beef</li>
            <ul class="s">
                <li>Nutrition: rich on protein and cobalamin</li>
                <li>Calories: 250 per 100 g</li>
            </ul>
            <li>Egg</li>
            <ul class="s">
                <li>Nutrition: rich on protein and fat</li>
                <li>Calories: 155 per 100 g</li>
            </ul>
        </ol>
    </div>
</div>
</body>
</html>