<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-color: #fdf9f6;">
    <h1> The Simple Restaurant</h1>
    <h2 style="font-family:'Kolker Brush', cursive;"> Simpliy, Yet Delicious</h2>
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #b5c0f2">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="#MC">Main Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#desert">Desert</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#drinks">Drinks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#connect">Connect with Us</a>
              </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </div>
    </nav>
    <br/>
    <br/>
    <br/>
    <div class="container" id="#commitment">
    <h2 style="margin: auto; padding-left: 500px;">Our Commitment</h2>
    <br/>
    <br/>
    <div class="card mx-auto" style="max-width:1000px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="FF.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Fresh Food</h5>
              <p class="card-text">We only use locally sourced food from farmers to ensure the freshness and to support them.</p>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <div class="card mx-auto" style="max-width:1000px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="EF.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Experimentation</h5>
              <p class="card-text">We considered stagation is a failure. So we are constantly experimenting and learning new things to improve our food.</p>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <div class="card mx-auto" style="max-width:1000px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="toast.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Unique Experience</h5>
              <p class="card-text">We will make sure that this is an experience you will never forget.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container-md" id="MC">
    <h2 style="padding-left:45%;">Main Course</h2>
    <div class = "card-group">
    <div  class="card" style="width: 300px">
        <img class="card-img-top" src="CB.png" alt="Card image" style="width:200px; margin: auto;">
        <div class="card-body">
            <h4 class="card-title">Complete Breakfast</h4>
            <p class="card-text">A full proper English breakfast
                <br/>
                Price: $4.99
            </p>
    </div>
    <div class="card-footer"><a href="#" class="btn btn-primary">Add To Cart</a></div>
    </div>
    <div  class="card" style="width: 300px">
        <img class="card-img-top" src="SB.png" alt="Card image" style="width:200px; margin: auto;">
        <div class="card-body">
            <h4 class="card-title">Strange Bun</h4>
            <p class="card-text">A mysterious bun made with mysterious ingerdients. Dare To Try?
                <br/>
                Price: $1.99
            </p>
    </div>
    <div class="card-footer"><a href="#" class="btn btn-primary">Add To Cart</a></div>
    </div>
    <div  class="card" style="width: 300px">
        <img class="card-img-top" src="Pizza.png" alt="Card image" style="width:200px; margin: auto;">
        <div class="card-body">
            <h4 class="card-title">Classic Pep'N'Cheese Pizza</h4>
            <p class="card-text">Thin crust pizza with fresh mozzarela cheese, homemade tomatoes and premium pepperoni.
                <br/>
                Price: $6.99
            </p>
            
    </div>
    <div class="card-footer"><a href="#" class="btn btn-primary">Add To Cart</a></div>
    </div>
    <div  class="card" style="width: 300px">
        <img class="card-img-top" src="SE.png" alt="Card image" style="width:200px; margin: auto;">
        <div class="card-body">
            <h4 class="card-title">Spicy Eel</h4>
            <p class="card-text">Very spicy, be careful
                <br/>
                Price: $3.99
            </p>
    </div>
    <div class="card-footer"><a href="#" class="btn btn-primary">Add To Cart</a></div>
    </div>
</div>
</div>
 <br/>
 <br/>
 <br/>
 <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
 <br/>
 <br/>
 <br/>
 <div class="container" id="desert">
    <h2 style="padding-left:45%;">Desert</h2>
    <div class="card-group">
        <div class="card" style="width: 300px">
            <img class="card-img-top" src="BT.png" alt="Card image" style="width:200px; margin: auto;">
            <div class="card-body">
                <h4 class="card-title">Blueberry Tart</h4>
                <p class="card-text">Very blue, very yummy
                <br/>
                Price: $2.99
                </p>
            </div>
        <div class="card-footer"><a href="#" class="btn btn-primary">Add To Cart</a></div>
        </div>
        <div class="card" style="width: 300px">
            <img class="card-img-top" src="MT.png" alt="Card image" style="width:200px; margin: auto;">
            <div class="card-body">
                <h4 class="card-title">Rare Candy</h4>
                <p class="card-text">Probaly will not increase your level but it tastes good 
                <br/>
                Price: $0.99
                </p>
            </div>
        <div class="card-footer"><a href="#" class="btn btn-primary">Add To Cart</a></div>
        </div>
        <div class="card" style="width: 300px">
            <img class="card-img-top" src="PP.png" alt="Card image" style="width:200px; margin: auto;">
            <div class="card-body">
                <h4 class="card-title">Plum Pudding</h4>
                <p class="card-text">Made with the premium plums, that are very good
                <br/>
                Price: $1.99
                </p>
            </div>
        <div class="card-footer"><a href="#" class="btn btn-primary">Add To Cart</a></div>
        </div>
        <div class="card" style="width: 300px">
            <img class="card-img-top" src="BC.png" alt="Card image" style="width:200px; margin: auto;">
            <div class="card-body">
                <h4 class="card-title">Blackberry Cobbler</h4>
                <p class="card-text">Guarantee to make you want more with its highest of quality blackberries
                <br/>
                Price: $8.99
                </p>
            </div>
        <div class="card-footer"><a href="#" class="btn btn-primary">Add To Cart</a></div>
        </div>
    </div>
 </div>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <div class="container" style="width:670px" id="drinks">
    <h2 style="padding-left:45%;">Drinks</h2>
    <div class="card-group">
        <div class="card" style="width: 330px">
            <img class="card-img-top" src="GA.png" alt="Card image" style="width:200px; margin: auto;">
            <div class="card-body">
                <h4 class="card-title">Ginger Ale</h4>
                <p class="card-text">A zesty drink to satisfy your thirst
                <br/>
                Price: $3.99
                </p>
            </div>
        <div class="card-footer"><a href="#" class="btn btn-primary">Add To Cart</a></div>
        </div>
        <div class="card" style="width:330px">
            <img class="card-img-top" src="TSE.png" alt="Card image" style="width:200px; margin: auto;">
            <div class="card-body">
                <h4 class="card-title">Tripple Shot Espresso</h4>
                <p class="card-text">For your midnight cramps and slow days
                <br/>
                Price: $5.99
                </p>
            </div>
        <div class="card-footer"><a href="#" class="btn btn-primary">Add To Cart</a></div>
        </div>
    </div>
 </div>
 <div class="container-fluid" style="background-color: #c7d3d2;" id="connect">
  <h4 style="padding-left: 45%">Connect with Us</h4>
  <p><a href="https://www.facebook.com"><img src="facebook.png" style="width: 30%;padding-bottom: 10px; padding-left: 20%;"></a><a href="https://www.instagram.com"><img src="insta.jfif" style="width: 375px;padding-bottom: 10px; padding-left: 20%;"></a><a href="https://www.twitter.com"><img src="twitter.png" style="width: 375px;padding-bottom: 10px; padding-left: 20%;"></a></p>
 </div>
</body>
</html>