<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
   
    </style>
    <link rel="stylesheet" href="css/theme.css">
</head>
<body>
    <div class="NavBar">
        <div class="links">
            <a href="/" class="NavLink">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="list" class="NavLink">List</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="audio"  class="NavLink">Audio</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="video"  class="NavLink">Video</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="storefront" class="NavLink">The Simple Restaurant</a>
            </div>
        </div>
    <div class="tables">
    <h1>Welcome to table</h1>
    <table style="width:100%" >
        <caption>Top lane champion win rate</caption>
        <thead>
        <tr>
            <th>Champion</th>
            <th colspan="4">Win Rate</th>
            <th colspan="4">Pick Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Aatrox</td>
            <td  colspan="4">49.84%</td>
            <td  colspan="4">16.17%</td>
        </tr>
        <tr>
            <td>Sett</td>
            <td  colspan="4">50.81%</td>
            <td  colspan="4">11.27%</td>
        </tr>
        <tr>
            <td>Darius</td>
            <td  colspan="4">50.49%</td>
            <td  colspan="4">9.70%</td>
        </tr>
        </tbody>
        <tfoot>
            <td colspan="6">The best top laner: Aatrox</td>
        </tfoot>
    </table>

    <br/>
    <br/>
    <table style="width:100%">
        <caption>Top 3 Characters with highest revenue</caption>
        <thead>
        <tr>
            <th>Character</th>
            <th colspan="4">Element</th>
            <th colspan="4">Revenue</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Raiden Shogun</td>
            <td  colspan="4">Electro</td>
            <td  colspan="4">USD$ 33,020,905</td>
        </tr>
        <tr>
            <td>Venti</td>
            <td  colspan="4">Ameno</td>
            <td  colspan="4">$USD 30,632,752</td>
        </tr>
        <tr>
            <td>Klee</td>
            <td  colspan="4">Pyro</td>
            <td  colspan="4">USD$ 22,750,080</td>
        </tr>
        </tbody>
        <tfoot>
            <td colspan="6">The best top laner: Aatrox</td>
        </tfoot>
    </table>
    <div>
        <h4>First table</h4>
        <p>The first table is about the win rate and pick rate of characters from a game called league of legends. A character with high pick and 
            win rate means that it is more likely to be fixed.
        </p>
        <h4>Second table</h4>
        <p>The second table is about how much money a character made in a game called Genshin Impact.
        </p>
    </div>
</div>
</body>
</html>