<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theme.css">
    <title>Document</title>
</head>
<body>
    <div class="NavBar">
        <div class="links">
            <a href="/" class="NavLink">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="list" class="NavLink">List</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="table"  class="NavLink">Table</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="audio"  class="NavLink">Audio</a>
            </div>
        </div>
    <div class="video">
    <h1>Welcome to Video</h1>
    <div class="player">
    <video width="320" height="240" controls>
        <source src="movie.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video> 
      <p>This video shows a bear on a river</p>
    </div>
    
    </div>
</body>
</html>